// new variables

$background-color: #F6F7FF;

$purple-main: #D4D8FE;
$purple-secondary: #7668AB;

$yellow-main: #FFDC87;
$yellow-secondary: #B0562C;

$peach-main: #FFCAB7;
$peach-secondary: #B0254A;

$pink-main: #FDD1FF;
$pink-secondary: #AB43AB;

$green-main: #B2FAC2;
$green-secondary: #4B7D47;

$grey-v1: #5C5C5C;
$grey-v2: #2E2E33;

$main-color: $purple-main;
$main-color-secondary: $purple-secondary;