//Modifying Default Variables

$primary: #0a103d;
$secondary: #190837;

$bs-card-cap-bg: #fff;

$btn-color: #000;


//customizing bootstrap css
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// main rules
body{
  font-family: "poppins";
}

// Navbar
#credit-btn{
  color: #fff;
  font-weight: 600;
}

.navbar-nav .nav-link {
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid $primary;
  background-color: #a791ca;
}

// login

.login-register{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.small-invis{
  display: none;
}

// custom css classes and mixins
@mixin text-overflow($lines) {
  @content;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-word;
}

.short-text-title {
  @include text-overflow(1);
}

.short-text-para {
  @include text-overflow(3);
}

//media queries

@media only screen and (min-width: 768px) {
  .small-invis{
    display: block;
  }
}